<div class="container-signup">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light text-dark bg-opacity-40 mt-3 ">
        <div class="card-body">
          <h2 class="card-title">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.input :role,
                        as: :radio_buttons,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'role-wrapper',
                        item_wrapper_class: 'role-item',
                        input_html: {class: 'role-selector'},
                        collection: User.roles.keys.map { |role| [role.humanize, role] } %>

            <div class="field">
              <%= f.input :email, input_html: { autocomplete: "email" }, label: "Email" %>
            </div>

            <div class="field">
              <%= f.input :first_name, input_html: { autocomplete: "given-name" }, label: "First Name" %>
            </div>

            <div class="field">
              <%= f.input :last_name, input_html: { autocomplete: "family-name" }, label: "Last Name" %>
            </div>

            <div class="field">
              <%= f.input :password, input_html: { autocomplete: "new-password" }, label: "Password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.input :password_confirmation, input_html: { autocomplete: "new-password" }, label: "Password Confirmation" %>
            </div>

            <div class="field">
              <%= f.input :photo, as: :file, label: "Photo" %>
            </div>

            <div class="actions">
              <%= f.button :submit, "Sign up", class:"btn btn-primary mt-2" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
