<div class="container-signup">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card big-card bg-light text-dark bg-opacity-40 mt-3 ">
        <div class="card-body">
          <h2 class="card-title">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <div class="role-wrapper">
                <% User.roles.keys.each do |role| %>
                  <label class="role-item">
                    <%= radio_button_tag "#{resource_name}[role]", role, resource.role == role, class: 'role-selector' %>
                    <%= role.humanize %>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="field">
              <%= f.email_field :email, autocomplete: "email", placeholder: 'Email' %>
            </div>

            <div class="field">
              <%= f.text_field :first_name, autocomplete: "given-name", placeholder: 'First Name' %>
            </div>

            <div class="field">
              <%= f.text_field :last_name, autocomplete: "given-name", placeholder: 'Last Name' %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation' %>
            </div>

            <div class="field">
              <%= f.text_field :professional_position, placeholder: 'Professional Position' %>
            </div>

            <div class="field">
              <%= label_tag :photo, "Profile Picture" %><br />
              <%= f.file_field :photo %>
            </div>

            <div class="actions">
              <%= f.button :submit, "Sign up", class:"btn btn-primary mt-2" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
