<div class="container homepage-container mt-5">
  <div class="block-homepage d-flex">
    <div class="titleblock">
      <p class="text-light">Empowering Dreams: Connecting Brazilian Talent with German Opportunities. Join our platform where dedicated volunteers (Angels) mentor aspiring stars (Candidates) to bridge the gap of skilled professionals in Germany.</p>
      <p class="text-light">Let's shape the future together!</p>
      <div class="buttons mt-5">
        <% if current_user | current_company %>
        <% else %>
          <%= link_to "Get Started", new_user_registration_path, class:"btn btn-primary" %>
          <%#= link_to "Get Started as a Company", new_company_registration_path, class:"btn btn-primary mx-2" %>
        <% end %>
      </div>
    </div>
    <div>
      <img class="image-homepage" src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1699898731/homepage-image-animated_zg2g4h.png" width="400" height="400" alt="Your Image Description">
    </div>
  </div>
  <h1 class="text-light text-center my-5">Our Angels</h1>
  <div class="cards mb-5">
    <% @angels.each do |angel| %>
      <div class="card-product mx-2">
        <%= cl_image_tag angel.photo.key %>
        <div class="card-product-infos">
          <h2><%= angel.first_name %> <%= angel.last_name %></h2>
          <p><%= angel.professional_position %></p>
        </div>
      </div>
    <% end %>
  </div>
  <h1 class="text-light text-center my-5">Companies</h1>
  <div class="cards mb-5">
    <% @companies.each do |company| %>
      <div class="card-product mx-2">
        <%= cl_image_tag company.photo.key %>
        <div class="card-product-infos">
          <h2><%= company.company_name %>
        </div>
      </div>
    <% end %>
  </div>
  <h1 class="text-light text-center my-5">Why you should get registered</h1>
  <div class="cards d-flex flex-row justify-content-center mb-5">
    <div class="card-wysgr mx-2">
      <h2>Stars</h2>
      <div class="card-wysgr-infos">
        <p>Because you need advices from who already made it.</p>
      </div>
    </div>
  </div>
</div>
