<!DOCTYPE html>
<html>
  <head>
    <title>Star</title>
    <link rel="icon" href="https://res.cloudinary.com/ddfjqexgw/image/upload/v1698852354/Star/Homepage/logostar2_gi39yj_3231c3.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
