<!DOCTYPE html>
<html>
  <head>
    <title>Star</title>
    <link rel="icon" href="https://res.cloudinary.com/ddfjqexgw/image/upload/v1699796920/starin-symbol-full-color-version-rgb-29.9861in_300ppi_hsusn0.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/navbar_bottom" %>
  </body>
</html>
